@font-face {
    font-family: 'f1';
    src: url(../assets/fonts/f1.woff2);
}
@font-face {
    font-family: 'f2';
    src: url(../assets/fonts/f2.woff2);
}
@font-face {
    font-family: 'f3';
    src: url(../assets/fonts/f3.ttf);
}

@font-face {
    font-family: 'f3';
    src: url(../assets/fonts/f4.woff2);
}
@font-face {
    font-family: 'f5';
    src: url(../assets/fonts/f5.woff2);
}
@font-face {
    font-family: 'f6';
    src: url(../assets/fonts/f6.woff2);
}
@font-face {
    font-family: 'f7';
    src: url(../assets/fonts/f7.woff2);
}
@font-face {
    font-family: 'f8';
    src: url(../assets/fonts/f8.woff2);
}
@font-face {
    font-family: 'f9';
    src: url(../assets/fonts/f9.woff2);
}
@font-face {
    font-family: 'f10';
    src: url(../assets/fonts/f10.woff2);
}





@font-face {
    font-family: 'x1';
    src: url(../assets/fonts/x1.woff2);
}
@font-face {
    font-family: 'x2';
    src: url(../assets/fonts/x2.woff2);
}
@font-face {
    font-family: 'x3';
    src: url(../assets/fonts/x4.woff2);
}
@font-face {
    font-family: 'x4';
    src: url(../assets/fonts/x4.woff2);
}
@font-face {
    font-family: 'x5';
    src: url(../assets/fonts/x5.woff2);
}
