@font-face {
    font-family: 'ifood1';
    src: url('../assets/fonts/ifood1.otf');
}
@font-face {
    font-family: 'ifood2';
    src: url('../assets/fonts/ifood2.otf');
}
@font-face {
    font-family: 'ifood3';
    src: url('../assets/fonts/ifood3.otf');
}
@font-face {
    font-family: 'ifood4';
    src: url('../assets/fonts/ifood4.otf');
}
@font-face {
    font-family: 'ifood5';
    src: url('../assets/fonts/ifood5.otf');
}