.s1 {
    width: 100vw;
    height: 180vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden !important;
}

h1 {
    font-size: 55px;
    font-family: 'discord4';
    color: #111111;
    margin-bottom: 15px;
}

.linha {
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 40vw;
    height: 60vh;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.card p {
    font-size: 22px;
    font-family: 'discord4';
    color: #444444;
    width: 25vw;
    text-align: center;

}

.card img {
    width: 30vw;
    height: 40vh;
}

a {
    font-size: 20px;
    font-family: 'discord4';
    background-color: #1b1b1b;
    color: #ffffff;
    width: 22vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 15px;
}

a:hover {
    background-color: #2b2b2b;
    transition: 0.3s;
    cursor: pointer;
    transition: box-shadow 300ms ease, transform 300ms ease, background-color 300ms ease;
    top: 15px;
}