@font-face {
    font-family: 'harry1';
    src: url(../assets/fonts/harry1.woff2);
}
@font-face {
    font-family: 'harry2';
    src: url(../assets/fonts/harry2.woff2);
}
@font-face {
    font-family: 'harry3';
    src: url(../assets/fonts/harry3.woff2);
}
@font-face {
    font-family: 'harry4';
    src: url(../assets/fonts/harry4.woff2);
}
@font-face {
    font-family: 'harry5';
    src: url(../assets/fonts/harry5.woff2);
}
@font-face {
    font-family: 'harry6';
    src: url(../assets/fonts/harry6.woff2);
}
@font-face {
    font-family: 'harry7';
    src: url(../assets/fonts/harry7.woff2);
}
@font-face {
    font-family: 'harry8';
    src: url(../assets/fonts/harry8.woff2);
}
@font-face {
    font-family: 'harry9';
    src: url(../assets/fonts/harry9.woff2);
}
