.cabecalho {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    position: fixed;
    justify-content: space-evenly;
    background-color: #ffffff;
    align-items: center;
}

.cabecalho img {
    width: 7vw;
    height: 7vh;
}

.cabecalho a {
    font-size: 16px;
    font-family: 'ifood3';
    color: #000000;
    text-decoration: none;
}

.cabecalho a:hover{
    color:rgb(234, 29, 44);
    cursor: pointer;
}

#div {
    color:rgb(234, 29, 44);
}
#vaga {
    background-color: rgb(234, 29, 44);
    color: #ffffff;
    border-radius: 25px;
    padding: 10px 10px;
}

select {
    color: rgb(234, 29, 44);
    border-color: #ffffff;
}

.s1 {
    background-color: rgb(234, 29, 44);
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
}

.s1 img{
    width: 100vw;
    height: 80vh;
}

.s2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.s2 > img {
    width: 50vw;
    height: 55vh;
    margin: 10px;
}

.textos {
    display: flex;
    flex-direction: column;
    margin: 85px;
}

h1 {
    font-size: 75px;
    font-family: 'ifood4';
    color: rgb(234, 29, 44);
    text-shadow: #000000;
    margin-left: 85px;
    width: 30vw;
}

p{
    font: 16px 'ifood3';
    width: 25vw;
    margin-left: 85px;
}